# Ignore Visual Studio temporary files, build results, and OS files
.vs/
*.vcxproj*
*.sln
*.user
*.suo
*.opensdf
*.sdf
*.cache
*.pdb
*.ipch
*.obj
*.log
*.tlog
*.idb
*.class
*.psess
*.vsp
*.ncb
*.sbr
*.scc
*.ilk
*.exe
*.dll
*.lib
*.exp
*.iobj
*.ipdb
*.pch
*.pdb
*.res
*.aps
*.bak
*.tmp
*.log
*.vspscc
*.vssscc
*.dbmdl
*.dbproj.schemaview
*.dbproj.user
*.dbproj
*.jfm
*.DS_Store
Thumbs.db
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
